header h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

main ul {
}

main img {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

#addnewitembutton {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #E83151;
    border-right: 1px solid #BE2943;
    border-bottom: 1px solid #BE2943;
    border-left: 1px solid #F07B90;
    border-top: 1px solid #F07B90;
    bottom: 1em;
    right: 1em;
}

#horizontal-cross {
    position: absolute;
    background-color: #FFFFFA;
    width: 35px;
    height: 10px;
    top: 20px;
    left: 8px;}

#vertical-cross {position: absolute; background-color: #FFFFFA; width: 10px; height: 35px; top: 8px; left: 20px;}

#addnewitembutton:active {
    border-right: 1px solid #F07B90;
    border-bottom: 1px solid #F07B90;
    border-left: 1px solid #BE2943;
    border-top: 1px solid #BE2943;
}

#item-list {
    display: flex;
    flex-direction: column;
}

#task1, #task2, #task3, #task4, #task5 {
    display: flex;
    display: none;
    position: relative;
    left: 0px;
    margin: 10px 25px 10px 25px;
    height: 50px;
    border-radius: 15px;
    transition: left 0.3s ease-out;
}


/*TO-DO: When you click on the text portion of the task, it won't disappear. */
#tasklabel1,
#tasklabel2,
#tasklabel3,
#tasklabel4,
#tasklabel5 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 24px;

}
#item-list input {
    width: 0;
    height: 0;
}

/*.item-list-tasks > span {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 3px solid #515052;
    margin-right: 15px;
    border-radius: 5px;
}*/

#additemform-container {
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 400px;
    position: fixed;
    top: 120px;
    left: 10%;
    z-index:99;
    opacity: 0;
    transition: all 0.2s linear;
}

#additemform {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    width: 250px;
    height: 150px;
    border-style:outset;
    background-color: white;
}
