header h1 {
    text-align: center;
}

main ul {
}

main img {
    position: absolute;
    bottom: 5em;
    right: 5em;
}

#addnewitembutton {
    position: absolute;
    bottom: 5em;
    right: 5em;
}

.inputitem {
    display: none;
    list-style: none;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10em;
    margin-right: 10em;
    border-style: outset;
}

#additemform {
    display: none;
}
