body {
    background-color: #FFFFFA;
}

header h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#addnewitembutton {
    position: absolute;
    bottom: 2em;
    right: 2em;
    background-color: #E83151;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #BE2943 #7F1B2D #7F1B2D #BE2943;
    transition: all .5 linear;
}

#addnewitembutton:active {
    border-color: #7F1B2D #BE2943 #BE2943 #7F1B2D;
}

#verticalcross {
    position: absolute;
    height: 50px;
    width: 15px;
    background-color: #FFFFFA;
    left: 25px;
    top: 8px;
}

#horizontalcross {
    position: absolute;
    height: 15px;
    width: 50px;
    background-color: #FFFFFA;
    left: 8px;
    top: 25px;
}

#item-list {
    display: flex;
    flex-direction: column;
}

#task1, #task2, #task3, #task4, #task5 {
    display: flex;
    display: none;
    position: relative;
    left: 0px;
    margin: 10px 25px 10px 25px;
    height: 50px;
    border-radius: 15px;
    transition: left 0.3s ease-out;
}


/*TO-DO: When you click on the text portion of the task, it won't disappear. */
#tasklabel1,
#tasklabel2,
#tasklabel3,
#tasklabel4,
#tasklabel5 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 24px;

}
#item-list input {
    width: 0;
    height: 0;
}

#additemform-container {
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 400px;
    position: fixed;
    top: 120px;
    left: 10%;
    z-index:99;
    opacity: 0;
    transition: all 0.2s linear;
}

#additemform {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    width: 250px;
    height: 150px;
    border-style:outset;
    background-color: white;
}
